.Menu {
    width: 100%;
    position: fixed;
    z-index: 10;
    float: right;
}

.Menu a {
    color: #fff;
    display: block;
    padding: 20px;
    float: left;
    font-family: 1.2em;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all ease 1s;
}

.Menu a:focus {
    border-color: #f05f40;
}

.Menu.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Menu.active a {
    color: #000;
}

.Menu a:hover {
    border-color: #f05f40;
}