.Periscope {
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

.Periscope-img {
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 100%;
    background-size: auto;
    background-position: top left;
    background-attachment: fixed;
}

.Periscope p {
    font-size: 1.4em;
}